* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100dvh;
  font-family: "Noto Sans KR", sans-serif;
}

.sr-only {
  display: none;
}

button {
  border: none;
  background: none;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 24px 70px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-menu-area button {
  display: none;
  font-size: 30px;
  color: #000;
}

.side-menu-area h1 {
  margin-right: 35px;
}

.menu-area ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 16px;
  list-style: none;
}

.menu-area ul:hover li a {
  opacity: 0.5;
}

.menu-area li {
  padding: 0 13px;
}

.menu-area li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.menu-area ul:hover li a:hover {
  opacity: 1;
}

.menu-area li:last-child a {
  color: #c41e20;
}

.button-area:hover button {
  opacity: 0.5;
  transition: all 250ms ease-out;
}

.button-area button {
  padding: 0 19px;
  font-size: 26px;
  color: #000;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.button-area:hover button:hover {
  opacity: 1;
}

.search-area {
  display: none;
  position: fixed;
  top: 90px;
  z-index: 1;
  width: 100%;
  height: 0;
  padding: 60px 100px;
  background-color: #fff;
  opacity: 0;
  transition: height 500ms ease-in-out, opacity 500ms ease-in-out;
}

.search-area.active {
  display: block;
  height: 100dvh;
  opacity: 1;
}

.search-area strong {
  position: relative;
  top: 0;
  left: 60px;
  display: block;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
}

.input-area {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 3px solid #000;
  margin: 0 60px;
}

.input-area input {
  width: 100%;
  height: 70px;
  border: none;
  font-size: 30px;
  outline: none;
}

.input-area button {
  font-size: 36px;
}

.product-all {
  position: relative;
  top: 90px;
}

.carousel-container {
  margin-bottom: 100px;
}

.carousel-container img {
  width: 100%;
  height: auto;
}

.carousel-container h3 {
  text-shadow: 1px 1px 1.5px #000;
}

.carousel-container p {
  text-shadow: 1px 1px 1.5px #000;
}

.product-all {
  padding-bottom: 100px;
}

.card-container h2 {
  position: relative;
  top: 0;
  left: -16px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.product-card {
  width: auto;
  height: auto;
}

.product-card:hover {
  transform: scale(1.07);
}

.product-card p:first-of-type {
  margin-bottom: 5px;
  color: #c41e20;
}

.product-card p:last-of-type {
  color: #0066ff;
}

.product-card h3 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}

.product-card strong {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
}

.no-search {
  position: relative;
  top: 0;
  left: -16px;
  display: block;
  padding: 10px 0;
  border: 1px solid #e5e5e5;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  color: #c41e20;
}

.login-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30vh;
}

.login-area h1 {
  margin-bottom: 30px;
}

.login-area form {
  display: flex;
  flex-direction: column;
}

.login-area form input {
  width: 500px;
  height: 40px;
  padding: 0 16px;
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
  outline: none;
}

.detail-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-area img {
  width: 400px;
  height: auto;
  margin-right: 300px;
}

.detail-area h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.detail-area strong {
  display: block;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 15px;
}

.sub-info {
  margin-bottom: 30px;
}

.sub-info span {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
}

.sub-info span:first-child {
  border: 1px solid #c41e20;
  color: #c41e20;
}

.sub-info span:last-child {
  border: 1px solid #0066ff;
  color: #0066ff;
}

.detail-button-area {
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
}

.detail-button-area button {
  width: 145px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  color: #000;
  background-color: #fff;
  transition: all 250ms ease-in-out;
}

.detail-button-area button:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}

.detail-button-area button:first-child {
  width: 60px;
}

.detail-button-area button:last-child {
  color: #fff;
  background-color: #c41e20;
}

.detail-button-area button:last-child:hover {
  color: #000;
  background-color: #fff;
}

.side-bar {
  position: fixed;
  top: 0;
  left: -1000px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
  background-color: #c41e20;
  transition: all 250ms ease-in-out;
}

.side-bar button {
  padding: 10px 20px;
  color: #fff;
  align-self: flex-end;
  font-size: 30px;
}

.side-bar button:hover {
  color: #000;
}

.side-bar ul {
  padding: 50px 0;
  list-style: none;
}

.side-bar ul li {
  margin-bottom: 15px;
}

.side-bar ul li:hover a {
  color: #000;
}

.side-bar a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.side-bar.s-active {
  left: 0;
}

.s-button-area {
  border-top: 1px solid #fff;
  padding: 20px 0;
}

.s-button-area button {
  padding: 0 10px;
  font-size: 16px;
}

.s-button-area button:hover {
  color: #000;
}

@media screen and (max-width: 1080px) {
  .side-menu-area {
    display: flex;
  }

  .side-menu-area button {
    display: inline;
    margin-right: 50px;
  }

  .menu-area li {
    display: none;
  }

  .card-container {
    position: relative;
    top: 0;
    left: 32px;
  }

  .card-container h2 {
    left: -32px;
  }
}

@media screen and (max-width: 991px) {
  .detail-area {
    padding-bottom: 100px;
  }

  .detail-area img {
    margin-right: 0;
    margin-left: 150px;
  }

  .detail-info h2 {
    margin-top: 20px;
    margin-left: 150px;
  }

  .detail-info strong {
    margin-left: 150px;
  }

  .sub-info {
    margin-left: 150px;
  }

  .detail-button-area {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    }

  .card-container {
    left: 120px;
  }

  .card-container h2 {
    left: -120px;
  }

  .detail-area img {
    width: 200px;
    margin-left: 70px;
  }

  .detail-info h2 {
    margin-left: 70px;
  }

  .detail-info strong {
    margin-left: 70px;
  }

  .sub-info {
    margin-left: 70px;
  }

  .detail-button-area button {
    width: 100px;
  }
}

@media screen and (max-width: 642px) {
  nav {
    padding: 24px 20px;
  }

  .menu-area {
    width: 100%;
  }

  .side-menu-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .side-menu-area h1 {
    margin-right: 0;
  }

  .button-area {
    display: none;
  }

  .login-area form input {
    width: 300px;
  }
}

@media screen and (max-width: 575px) {
  .card-container {
    left: 40px;
  }

  .card-container h2 {
    left: -40px;
  }

  .search-area {
    padding: 50px 0;
  }

  .search-area strong {
    left: 70px;
    font-size: 30px;
  }

  .input-area input {
    font-size: 20px;
  }
}
